[2013-03-04 11:41] GRoguelon opened #3 "column "rank0.23510353309199694" does not exist"
Hi,

I found this [issue](https://github.com/texticle/texticle/pull/6#issuecomment-9194135) from @benhamill which looks like to my issue.

Ho do you use this method to solve my problem?

[code]

The complete message error:

[code]

This problem happens when I include a relation, for example:

[code]

Thanks.

[2013-03-05 20:49] ngauthier opened #5 "ActiveRecord#scoped Deprecated in Rails 4"
[code]

used @ https://github.com/textacular/textacular/blob/master/lib/textacular.rb#L148

[2013-03-14 03:24] jb-san opened #6 "Returns empty result unless full title is given at search"
Im having this problem where I have 3 entries of Track model in the database, they have title: "testar". when I then try to search to get these 3 record

Track.seach "tes" # witch gives me

Track Load (1.0ms)  SELECT "tracks".*, ts_rank(to_tsvector('english', "tracks"."title"::text), plainto_tsquery('english', 'tes'::text)) + ts_rank(to_tsvector('english', "tracks"."territory"::text), plainto_tsqu

[2013-03-14 16:24] #6 closed, assigned to nobody

[2013-03-29 09:26] International opened #11 "Migration fails when textacular is in the gemfile"
[code]

This is what I have in my migration:

[code]

Migration passes if I remove textacular from Gemfile.

[2013-04-19 06:53] DrTom opened #15 "Migration fails and more problems due to method_missing"
We had a several problems using textacular, i.e. migrations would fail. It turned out to be the implementation of method_missing in textacular.

I forked the project and simply removed method_missing which fixes the issues for us:
https://github.com/DrTom/textacular

It is up to you how to fix the problem but I kindly suggest not to overwrite method_missing as the troubles that come with it are of

[2013-06-12 02:42] #3 closed, assigned to nobody

[2013-06-12 05:09] #5 closed, assigned to nobody

[2013-06-15 02:35] #11 closed, assigned to nobody

[2013-06-19 10:30] murdoch opened #19 "Uninitialized constant Textacular::PostgresModuleInstaller"
I've found that in order to run the install_trigram rake task to run, I need to do the following in my Gemfile:

[code]

Without the above, I get:

[code]

Is there an easier way of doing this?

[2013-06-20 04:02] #19 closed, assigned to nobody

[2013-07-02 12:07] murdoch opened #21 "PG::Error: ERROR: function similarity(character varying, unknown) does not exist"
Running `bundle exec rake textacular:install_trigram RAILS_ENV=test` installs the trigram module in my DB, but my cucumber features fail with the following message:

[code]

I've got trigram installed, and everything works fine in development. My tests used to pass up until yesterday. The thing that triggered this appears to be me running my rspec specs, and then switching to cucumber.

[code]

I

[2013-07-02 15:23] #21 closed, assigned to nobody

[2013-07-17 02:53] wyaeld opened #23 "Can we have a new version?"
Lots of good pulls, fixes and improvements lately.  None of the remaining issues appear to be breaking bugs

3.0.0 was 5 months ago, any objection to putting out a 3.1 or 3.0.1 release?

[2013-08-06 05:11] #15 closed, assigned to nobody

[2013-08-06 05:15] #23 closed, assigned to nobody

[2013-08-25 12:56] iainsmith opened #26 "Using textacular with joins"
Hi,

I stumbled across textacular yesterday. Is there is a way of performing a search against all the attributes of a join model.

I can search against a single attribute like so

`Instructor.joins(:profile).advanced_search(profiles: { first_name: search_term } )`

But let's say Profiles has a first_name, last_name, and nickname that I want to search. Is there a way to search against all the strin

[2013-08-25 15:04] #26 closed, assigned to nobody

[2013-09-20 07:58] mrcasals opened #29 "Is this compatible with serialized attributes?"
Hi!

I'd like to use textacular in a project where my Rails models have serialized attributes, and I need to search through them. Is this compatible?

I've been looking at the code but could not find any reference to it :)

Thanks!

[2013-09-20 18:21] davetoxa opened #30 "Searching with a half of word"
What about whis feature ? Is it possible ?

[2013-09-21 10:36] #30 closed, assigned to nobody

[2013-10-16 18:36] broguinn opened #31 "It does not search non-string columns"
I am implementing general and multi-option search features for my web app. In either case, I cannot search for integers using the fuzzy_search method.

In a general search, it finds no matches, because, for instance, the string '2002' isn't anywhere in string columns.

In a multi-option search, searching the year field with something like '2002' throws an error, giving:

`PG::DatatypeMismatch: ERR

[2013-11-11 20:31] kris-luminar opened #32 "unused footnote in article"
The article at http://textacular.github.io/textacular/ has a footnote 2 which is unused in the article as far as I can tell.

[2013-11-14 11:41] #32 closed, assigned to nobody

[2013-12-26 12:36] gaaady opened #33 "does this gem work with Hebrew searches?"

[2014-01-05 01:18] michaelrkn opened #34 "Colons mess up advanced search"
I have a Lesson AR model. If I run `Lesson.advanced_search(":")`, I get `PG::SyntaxError: ERROR:  syntax error in tsquery: ":"`.

[2014-01-05 02:36] michaelrkn opened #35 "Trigram should be installed as a migration"
The rake task for installing trigram is great. But it should really be a migration:
- so that other developers on my team can seamlessly install it without special instructions;
- so that it's added to my schema and loaded onto my test database;
- so that when I deploy, I can simply run my migrations for my app to work.

I'd suggest updating the README to recommend this approach, rather than (or a

[2014-01-05 02:46] michaelrkn opened #36 "Trigram installation fails on Heroku"
This is more of a Heroku issue than Textacular, but running

[code]

gives

[code]

The culprit seems to be that `$ pg_config --sharedir` returns `/usr/share/postgresql/9.2`, but that directory doesn't exist.

Nevertheless, simply running

[code]

successfully installs the extension. I can open a ticket with Heroku, but I thought I'd check here and see if it makes sense to update Textacular in som

[2014-01-07 17:48] #34 closed, assigned to nobody

[2014-01-07 17:54] #36 closed, assigned to nobody

[2014-01-08 10:47] gregmolnar opened #38 "Travis"
I see someone added the repo to travis but there is no configuration for it yet. If nobody gets there earlier than me I will create the config file this week.

[2014-01-09 07:55] #38 closed, assigned to nobody

[2014-01-09 18:39] smooshy opened #39 "Would like to be able to set_limit()"
pg_trgm exposes the ability to set the limit for returning records by ranking. Default is 0.3 (http://www.postgresql.org/docs/9.1/static/pgtrgm.html#PGTRGM-FUNC-TABLE).

I'd like to be able to set the limit for my search queries.

[2014-01-23 13:46] sloops77 opened #40 "Deprecation warning running search with .includes"
Hey guys,

[code]

causes the following deprecation warning.

[code]

It works fine by the way, as does using join

[2014-01-30 19:10] j15e opened #41 "Bug report : specific string issue with rank field & includes"
With any regular string it work (ex. `rabiole bebe`) :

[code]

But with THIS string `rabiole. bebe`, it doesn't work and the generated query field list seems incorrect :

[code]

Same error with english or french set on `searchable_language`.

Without the `includes(:category)`, it work properly. Weird issue, I'll simply remove my includes for now.

[2014-03-09 21:09] michaelrkn opened #42 "Index migration generator is broken"
[code]

Looking through `full_text_indexer.rb`, I don't see `indexable_columns` defined anywhere.

Also, once this is fixed, it would be helpful to document this rake task in the README.

[2014-03-30 19:29] #35 closed, assigned to nobody

[2014-05-02 17:47] monfresh opened #49 "Filtering results of view-based search"
Hi,

I'm coming from Elasticsearch and, in an effort to reduce dependencies, I'm looking into replacing it with Postgres full-text search. One of my main requirements is to have all searches return `Location` objects, while looking up the search term in multiple models, including associations two levels deep.

A Location belongs to an Organization, has many Services, and Services have and belong t

[2014-05-28 14:36] tinderfields opened #51 "ORing textacular scopes with other queries"
I've got a scope for basic_search:

[code]

I need this to also search the ID of the record which is of course an Integer and not searchable using textacular.

Problem is I have no idea how to OR the `where(id: query)` with the scope above.

Is there any textacular way of doing this?

[2014-06-09 23:36] jekozyra opened #52 "fuzzy_search ignores pg_trgm threshold updates"
I've tried changing the pg_trgm threshold (including pushing it up to 99%) but I consistently get the same search results. Postgres 9.2.4, Rails 4.0.2, Ruby 2.0

[2014-06-11 17:40] #52 closed, assigned to nobody

[2014-07-16 00:13] sharpmachine opened #57 "Is there a way set up synonyms"
Hey there,

Is there a way to set up synonyms/aliases so if a user searches for "attorney", it will return the results for "lawyer"?

[2014-07-16 16:18] #57 closed, assigned to nobody

[2014-08-21 05:21] hauntedhost opened #58 "textacular:create_trigram_migration stuffs entire migration in filename (rails 4.1.5)"
see example here: https://github.com/somlor/textacular_issue/blob/master/db/migrate/20140821051731_class%20InstallTrigram%20%3C%20ActiveRecord::Migration%0A%20%20def%20self.up%0A%20%20%20%20ActiveRecord::Base.connection.execute(%22CREATE%20EXTENSION%20pg_trgm%3B%22)%0A%20%20end%0A%0A%20%20def%20self.down%0A%20%20%20%20ActiveRecord::Base.connection.execute(%22DROP%20EXTENSION%20pg_trgm%3B%22)%0A%20

[2014-09-26 10:43] neektza opened #59 "Error when basic_search combined with count"
When trying to combine `basic_search` with `count` this happens:

[code]

[The full snippet](https://gist.github.com/neektza/2dda3b34fb1a182a687a)

[2014-09-30 23:06] cimtico opened #60 "Stack level too deep error when used on jruby/torquebox"
I'm getting a:
SystemStackError
stack level too deep

when using this gem on jruby/torquebox

it seems the error may be occurring due to the respond_to? override on:
textacular (3.2.0) lib/textacular.rb:63:in `respond_to?'

Here is the stacktrace:

[code]

It seems the override is done for dynamic matchers (it geves me the feeling of rails 2 dynamic matchers though I could be wrong). If it is in p

[2014-10-01 20:10] #59 closed, assigned to nobody

[2014-10-13 12:23] Epigene opened #63 "Configuration to change trigram threshold?"
How to go about changing the trigram threshold of 0.3 to, say, 0.5?

[2014-10-14 18:27] #63 closed, assigned to nobody

[2014-10-30 15:21] #51 closed, assigned to nobody

[2014-10-30 15:23] #49 closed, assigned to nobody

[2014-10-30 15:24] #42 closed, assigned to nobody

[2014-10-30 15:27] #40 closed, assigned to nobody

[2014-10-30 15:30] #33 closed, assigned to nobody

[2014-10-30 15:34] #29 closed, assigned to nobody

[2014-11-18 11:33] nodrog opened #66 "Includes"
Hi

I want to use an includes and i get an error am i doing this right:

I am obviously doing something stupid, but really not sure what.

Many thanks

[2014-12-21 16:24] ollym opened #68 "Support Rails 4.2"
Haven't had a chance to dig deep into the internals, but any chance of relaxing the rails dependency to support 4.2 now it has been released?

Thanks

[2014-12-22 19:05] #68 closed, assigned to nobody

[2014-12-23 06:29] #58 closed, assigned to nobody

[2015-01-20 13:07] phlegx opened #70 "Search against associations (model relations)"
Do search against associated model attributes work? Given this example of models:

[code]

How can I perform the following search:

[code]

[2015-01-20 15:33] benhamill commented on #70
If I understand what you're asking, then this test should illustrate what you want? https://github.com/textacular/textacular/blob/master/spec/textacular_spec.rb#L82

If not, then can you point out the difference?

[2015-01-20 15:35] phlegx commented on #70
@benhamill no thats it! :smile:

[2015-01-20 15:39] phlegx commented on #70
This is not documented in the README! :cry:

[2015-01-20 15:55] benhamill commented on #70
Glad I could help. The README is a bit unweildy, as it is. We should probably redesign it so it's easier to find stuff. And add stuff like this. But in the mean time, if someone wanted to add a section about this feature, that would be a cool PR to see. :smile:

[2015-01-20 15:55] #70 closed

[2015-01-20 16:04] phlegx commented on #70
OK. Is there a way to configure textacular like in gem pg_search? I mean, so that I can configure textacular (accents, tsearch, etc.) in every model like in pg_search (https://github.com/Casecommons/pg_search#searching-using-different-search-features):

[code]

  1. **:tsearch (Full Text Search)**
  2. **:prefix (PostgreSQL 8.4 and newer only)**
  3. **:negation**
  4. **:trigram (Trigram search)*

[2015-01-20 16:15] benhamill commented on #70
Nope. Textacular doesn't have a configuration feature right now. Some of that can be messed with (look at [the website]() or the tests), but not all. We see those two gems this way: Textacular is dead simple to get up and running if your needs aren't that complex. If you need to do more tweaking or whatever, then you should probably use pg_search.

[2015-01-20 16:21] phlegx commented on #70
For the PR: I will try out some complex search with textacular first. Globalize gem is widely used gem and I want to test it with textacular. :smile:  @benhamill congratulations for the gem!

[2015-01-28 12:56] rcanand opened #71 "PG::SyntaxError at or near 'AS' with basic_search"
I am using rails 4.1.5 with textacular 3.2.1, and have an App model. When I call `@apps = App.basic_search('book')`, I get the error below when I call `@apps.count`:

[code]

Related to #59, #47 and related rails issue 15138.
A workaround (for smaller data sets) is to convert the returned results into an array and then call count on it.

[2015-01-28 20:30] benhamill commented on #71
The work-around you want is to use `.count(:all)`. I don't think there's been much movement in Rails on addressing this at all. Sadly.

[2015-01-28 20:30] #71 closed

[2015-02-03 15:27] allaire opened #72 "Any way to use unaccent ?"
Hi there,

Is there anyway to use unaccent package with textacular? I know PG_Search is more "configurable", but Textacular looks cleaner to me and that's mostly the only feature that's missing for me (because from what I see, we can use advanced_search to do most of the things like prefix and such).

@benhamill  I'm also willing to do a PR implementing this, just need some hints before :+1:

Than

[2015-02-03 15:39] benhamill commented on #72
I haven't used it, but skimming [the docs](http://www.postgresql.org/docs/9.4/static/unaccent.html), it looks like you could run the `ALTER TEXT SEARCH CONFIGURATION` bit shown there and it might Just Work. If not, you can post here about problems and maybe we can get it sorted out.

[2015-02-03 15:39] #72 closed

[2015-02-03 15:41] allaire commented on #72
@benhamill PGSearch wraps queries with unaccent() (using a normalizing function): https://github.com/Casecommons/pg_search/blob/35b858a50aaa078fcb0ce7ae2427c5f6efca1282/lib/pg_search.rb#L24

Would something like this be possible?

[2015-02-03 15:48] benhamill commented on #72
It would be _possible_, but I don't want to unilaterally decide to ditch diacritics. Especially if you can tell Postgres to alter the dictionary that you're using and have it work transparently from Textacular's point of view.

[2015-02-03 15:49] allaire commented on #72
Roger that. Let me do some testting with that Postgres configuration, I'll report back. Thanks for the quick reply :beers:

[2015-02-14 22:32] Ajaxy opened #73 "Highlight results of full text search"
Hello!

Is it possible to get match results on Rails level for using in `hightlight` helper?

Thank you.

[2015-02-14 22:38] Ajaxy opened #74 "Indexing and sql schema"
It seems not good for me to change schema format to `sql`. That `ruby` one is much more clear and intuitive. Is there some way to keep on going with it? Maybe manually add that `execute ...` code into the schema where all other indexes are?

Thanks in advance.

[2015-02-15 03:45] benhamill commented on #73
I'm not sure what you mean. The `highlight` helper (I just had to look it up, never used it) looks like it's a view thing, whereas you're probably going to be doing Textacular searches in a model of some kind. You could save the search term you use to feed to `highlight` along with some field from whatever comes out of the database at render time... Or am I misunderstanding something?

[2015-02-15 03:48] benhamill commented on #74
Personally, I've never really worried about the schema being readable. It's there mostly to support `rake db:setup` and similar. You could, indeed, add an `execute` section, but as the schema's meant to be generated and will be every time you run a new migration, you'd probably lose it soon after.

You could consider adding a new dependent task to things like `rake db:setup` that would run that on

[2015-02-18 07:27] Ajaxy commented on #73
I mean if I'm looking for mice: `Animal.basic_search('mice')`.I'd like to get results (additinal to `ActiveRecord::Relation`) some kind of `[id: 5, found: 'Mouse', in_field: :name], [id: 77, found: 'mice', in_field: :diet]`. That I can use that info to highlight what is actually matching.

[2015-02-18 07:32] Ajaxy commented on #74
Thank you, then closing.

[2015-02-18 07:32] #74 closed

[2015-03-05 04:39] naysayer opened #76 "Negation operator "!" escaping issue using advanced_search method"
Right out of the box I am not having issues with using using the AND (&) or the OR (|) operator with the advanced search method. The following works great:

    Keyword.advanced_search("foo|bar")
    or
    Keyword.advanced_search("foo & bar")

Negation by itself also works great:

    Keyword.advanced_search("!baz")

However when combining negation with any other type of query param returns the f

[2015-03-05 22:10] benhamill commented on #76
This feature is actually pretty poorly tested and, I think, little used. If you run the query against your DB raw, but take out the `\`, does it work as expected?

Any other maintainers know why the `\` was originally put in there? I don't understand `to_tsquery` super well.

[2015-03-07 11:24] gregmolnar commented on #76
@benhamill it doesn't work without the `\` because that syntax is invalid.
@naysayer where did you see that example in the postgres docs?

[2015-03-07 11:39] gregmolnar commented on #76
I was wrong, it is valid syntax without the backslash. I sort of see where the problem is and trying to fix it.

[2015-03-07 15:42] #76 closed

[2015-03-20 20:10] AnselAtoms opened #78 "Cannot get count of search results"
This query runs fine when getting results back, but when we tack a `count` onto it, it fails with invalid SQL. Feels like a bug.

[code]

[2015-03-21 14:10] benhamill commented on #31
You know... I just had a thought (*months* later, I realize): This might have to do with similarity. If you fuzzy_search for `"St"` do you get your "Success Stories title"? It might not be similar enough to the string "St". I'm thinking that "Mauris" might be too small a sample for it to realize that they're the same thing?

Another thing might be that "Mauris" is Latin, but it's using English rul

[2015-03-21 14:14] benhamill commented on #78
This is a bug in ActiveRecord. You can read more in [this Issue 47 comment](https://github.com/textacular/textacular/pull/47#issuecomment-61325192). And see [this spec](https://github.com/textacular/textacular/blob/7ec3eaad72b9da0af36b423b4e21190e0db7e5d7/spec/textacular_spec.rb#L235) for an example of a work-around. Sadly, it's not wonderfully performant, since it pulls all the objects into memor

[2015-03-21 14:14] #78 closed

[2015-03-27 10:30] gregmolnar commented on #66
I guess this one is not an issue anymore, please reopen it if I am wrong.

[2015-03-27 10:30] #66 closed

[2015-03-27 10:32] gregmolnar commented on #60
@simi This is one thing we should do before the next major release. Drop the deprecated methods. If you have the time and you are willing to do this it would be a great help.

[2015-03-27 10:33] gregmolnar commented on #41
I am closing this assuming it is not an issue anymore. Please reopen if you still experience this.

[2015-03-27 10:33] #41 closed

[2015-03-27 10:43] gregmolnar opened #81 "Next release"
Here is the list of tasks I think we could do before the next release:
- [x] #60 Remove the deprecated methods. This only applies if we do a major release
- [ ] #73 This would be a neat new feature but I am not sure whether it can be done or not. We need to do some research
- [ ] #39 Another nice new possible addition

I think these are the open issues we should close and we could do a major relea

[2015-03-27 12:16] nodrog commented on #66
Sorry for not closing...

We moved away from using textacular, i will see if i can dig out the sql it it would help.

thanks

[2015-03-27 12:32] gregmolnar commented on #66
Thanks a lot @nodrog !

[2015-03-27 16:37] benhamill commented on #81
The check boxes didn't render. Sad times.

ANYWAY... I vote for this timeline:

1. A patch release to get the 4 unreleased fixes into the current major line.
1. Remove the deprecated stuff and do a new major release.
1. Talk about adding other new features as minor releases thereafter.

I think we could cut 3.2.2 today (or whenever someone has time), if we wanted.

[2015-03-27 16:38] simi commented on #81
try this
[code]

[2015-03-27 16:43] gregmolnar commented on #81
@simi Thanks :)
@benhamill I think it would be nice to add some new features with the major release and if we want to add those features we may need to break backward compatibility so major release would be a better choice to add them.
I will have some time next week and I will take a look how could we implement those features and @simi also kindly offered his help.
I will leave the patch release

[2015-03-28 18:57] gregmolnar commented on #81
I release a patch version from master and created a `3-2-stable` branch to make it easy to backport bugfixes.
I bumped the master version to `4.0.0.alpha` and will merge #82 into that. Then next week I will look into how to get those new features done.

[2015-03-28 21:20] benhamill commented on #81
You're the best. :heart:
On Sat, Mar 28, 2015 at 1:57 PM Greg Molnar <notifications@github.com>
wrote:

[2015-03-29 10:32] simi commented on #60
dropped in #82

[2015-03-29 10:54] simi commented on #73
It is possible via [ts_headline](http://www.postgresql.org/docs/current/interactive/textsearch-controls.html#TEXTSEARCH-HEADLINE), but I'm not sure if this is easy enough to be useable by textacular gem.

[2015-03-29 12:00] simi commented on #39
Config var should live in `Textacular.fuzzy_treshold` (probably backed by https://github.com/steveklabnik/request_store or `Thread.current`). But I wonder if we need to send this before every query. We can send it in every query also.

[code]

vs

[code]

We can change that on query basis or fallback to default one. But I'm not sure if we need to send it with every query. Maybe it will be better t

[2015-03-29 15:52] benhamill commented on #39
I'm wary of the latter, especially given that it seems newer versions of AR treat `SELECT` clauses pretty naively. If we make a complex one all the time, will we be asking for more problems like the ones we experience currently with `count`.

It's a pity this is per-connection...

Does anyone know if AR affords for the user to give a kind of initialization block that runs at the start of establish

[2015-03-29 19:35] simi commented on #39
If I understand this it is not possible to set this property per request. That's the spirit. To keep this gem simple there's no way how to handle this. I can try to contribute some options to `pg_search` instead.

[2015-03-31 00:56] benhamill commented on #60
This is done, then, right?

[2015-03-31 00:56] #60 closed

[2015-03-31 01:05] benhamill commented on #39
I was thinking about this on my drive home. If we're not going to execute two queries every time, which I think could have negative performance impact, or make our `SELECT` statements all the more complex, we'll have to figure out how to set the fuzziness limit on all the connections in the connection pool.

So I started investigating in the AR docs and playing around in Pry.

I was hoping we coul

[2015-03-31 02:31] benhamill commented on #39
Ugh. So, it looks like we could monkey patch `ActiveRecord::ConnectionAdapters::PostgreSQLAdapter::StatementPool#configure_connection` or similar to send this call. I'm not super happy about that idea, but there are _worse_ sins. What do folks think about this strategy?

[2015-03-31 07:49] gregmolnar commented on #60
@benhamill yes. done and merged to master. Thanks for closing it.

[2015-03-31 08:41] simi commented on #39
I was thinking about this in bath. This is not so easy since `set_limit` can be changed everywhere and also connection pool can be reloaded on the fly. For example by [reap](http://api.rubyonrails.org/classes/ActiveRecord/ConnectionAdapters/ConnectionPool.html#method-i-reap).

`textacular` can't guarantee that `set_limit` (from config) will be used unless it will be set in every query. But if we s

[2015-04-09 13:33] simi commented on #81
@gregmolnar I think it is reasonable to release only with #60 in since #73 and #39 are inactive now.

[2015-05-20 22:30] cimtico opened #83 "Latest rails RuntimeError: unsupported: String"
In the project I'm working on, we have been getting a new set of errors since we upgraded to the latest ruby/rails versions.

We can no longer run

    BloggerGroup.basic_search(name: query).where_values.reduce(:and).to_sql

This now renders a "RuntimeError: unsupported: String" error.
After some debugging, it seems to happen when there are hardcoded sql strings in a where clause (such as in the b

[2015-11-28 04:39] Grantimus9 commented on #39
I think evjan's solution is simple and acceptable for multiple frameworks besides rails. `scope.fuzzy_search(query, 0.2)`

Depending on how fuzzy_search is implemented under the hood, making the second param optional. A notice in the documentation that this performs two executions in order to `set_limit` then perform the search would be appropriate and probably not a dealbreaker for people looking

[2015-12-04 18:42] #83 closed

[2015-12-16 12:13] rstacruz opened #86 "Question: Getting IDs"
Is it possible to just get the ID's of the result set?

[code]

[code]

Using `.pluck` isn't good either.

[2015-12-16 17:03] gregmolnar commented on #86
It should be possible. Can you create a simple failing test for me with your models based on this testfile?
https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb

Thank you!

[2016-01-16 23:17] wyaeld commented on #81
@gregmolnar is there a list of changes needed for rails5, if any?

[2016-01-17 10:07] gregmolnar commented on #81
@wyaeld master is working with rails 5, no changes needed.

[2016-03-24 12:06] naoa opened #87 "Could you stop using "rank~" alias in assemble_query method?"
Currently, `def assemble_query` is using alias rank name by `AS`.

https://github.com/textacular/textacular/blob/f39bf8c99074039f8844b0c8e39d457aa95f93f5/lib/textacular.rb#L126

Also ActiveRecord change query to alias name using such as "AS alias_0" if use `include` method for eagar loading.

[code]

[code]

This query causes syntax error because "rank~" column doesn't exist to overwrite query by

[2016-05-12 07:42] NielsKSchjoedt opened #88 "What's the reasoning behind not exposing the rank score with a static name?"
I would really like to access the rank to make some after filtering in ruby. But the ranking score when using `fuzzy_search` got strange unpredictable names like: `rank65980239733176812`. Why is this?

https://github.com/textacular/textacular/pull/89

[2016-05-12 08:10] NielsKSchjoedt opened #90 "The .search method conflicts with methods in other gems like Ransack"
I suggest a rename og the .search method. The name is too generic and conflicts with other gems like https://github.com/activerecord-hackery/ransack

[2016-05-16 16:53] gregmolnar commented on #90
Ransack doesn't alias the `search` method if it is already defined and you can just use the original `ransack` method in that case. But actually we should could do something similar.

[2016-07-12 02:02] joevandyk commented on #31
Is there a reason to use similarity instead of ilike?

[2016-07-13 02:43] benhamill commented on #31
I'm not a maintainer on this project any more, but I got the email, so what the hell.

AFAIK, `ILIKE` is a much more expensive operation than `similarity()`. Also, with `similarity()` you get things like stemming and such that real text search tools have, whereas `ILIKE` is much more literal.

[2016-07-13 15:41] gregmolnar commented on #31
@benhamill thanks for the the explanation!

[2016-07-21 14:29] haggen opened #92 "Search in associations throws missing FROM-clause entry"
This:

[code]

Gives me this:

[code]

I'm using Rails 4.2.7 and PostgreSQL 9.5.3.

[2016-07-21 18:17] haggen commented on #92
Now I see it. I must use the name of the table instead of the relation. So it would be:

[code]

That's a little confusing. The standard wouldn't be to use the relation name?

[2016-07-26 21:31] haggen commented on #39
Why not follow the same pattern we use for `search_language` and define a class method in the model?

[code]

Then textacular itself executes `set_limit()` before each search.

[2016-07-28 10:21] gregmolnar commented on #92
I agree, it would be better to use the relation name, but that means a non-bc change to textacular. Once I got some free time, I will change this and deprecate the use of table name.

[2016-08-09 16:01] andrewhamon commented on #92
This is how it works in normal ActiveRecord where clauses as well:

[code]

Even if the relation to users was called something else, like `author`, its still plural users when querying the users table:
[code]

I think it would be more confusing for experienced Rails devs to break consistency with ActiveRecord.

[2016-08-09 22:50] haggen commented on #92
`#joins` uses the relation name, but `#where` uses the table name. I can't tell what's the standard anymore. I'd say there's no issue then.

[2016-08-10 03:26] andrewhamon commented on #92
My speculation (since I haven't read the AR source) is that '#joins' needs to know the relation to do the join properly (since you can configure the foreign keys and whatnot) but '#where' doesn't need as much information to translate a Ruby hash to a SQL where clause.

[2016-08-11 21:43] DuckNG opened #93 "Upgrading to rails and activerecord 5.0.0.1"
Allow for activerecord version above 5.0

bundle update for rails 5.0.0.1

Bundler could not find compatible versions for gem "activerecord":
  In Gemfile:
    rails (= 5.0.0.1) ruby depends on
      activerecord (= 5.0.0.1) ruby

    textacular (~> 4.0.0) ruby depends on
      activerecord (<= 5.0, >= 3.0) ruby

Allow for activerecord version above 5.0

[2016-08-16 15:20] #93 closed

[2016-08-18 23:57] chrisnicola opened #95 "Current 4.0.0 gem prevents upgrading to Rails 5.0.0.1"
The gemspec in master has been fixed but a Gem release is still needed to avoid having to reference the master branch or Github commit directly.

[2016-08-21 00:51] michaeldever commented on #39
What about adding it as another parameter to `fuzzy_search`... `Object.fuzzy_search(..., similarity_threshold: 0.1)`

If `similarity_threshold` isn't set, use the default, but it is then `set_limit(similarity_threshold)`?

[2016-09-05 08:38] phlegx opened #96 "Full text search (tsearch)"
How can I search on my model with full text? I search like this:

[code]

but I get no results!

[2016-10-02 16:14] Paxa commented on #95
Would be nice to make new release with rails 5 support

[2016-10-02 16:18] Paxa opened #97 "Update generated migration"
For Rails 5 we should specify migration version. So it shoule be like this:

[code]

[2016-10-05 10:25] gregmolnar commented on #95
I will do a release this week

[2016-10-18 12:00] gregmolnar commented on #97
fixed in the latest release

[2016-10-18 12:00] #97 closed

[2016-10-18 12:00] gregmolnar commented on #95
I pushed a new release to rubygems. Thanks for the patience :)

[2016-10-18 12:00] #95 closed

[2016-11-11 23:55] sc0ttman commented on #96
+1

[2016-11-24 10:19] AndrewVos opened #101 "Drop support for ruby 1.9.3"
The `pg` gem doesn't support 1.9.3, so `textacular` should probably not be bothered.

https://travis-ci.org/textacular/textacular/jobs/178547682

[code]

[2016-11-24 10:24] #101 closed

[2016-12-15 16:26] bshyong commented on #96
you guys need to use the `fuzzy_search` method

[2016-12-15 17:18] sc0ttman commented on #96
I found I needed to do something like this: `Paper.advanced_search("#{params[:q]}:*")`.

[2016-12-19 13:56] #96 closed

[2016-12-22 23:29] stevenjwolfman opened #103 "Bug report"
using textacular (3.2.2)
Full Backtrace

SystemStackError: stack level too deep
259     protected
260       def convert_key(key)
261         key.kind_of?(Symbol) ? key.to_s : key
262       end
[GEM_ROOT]/gems/activesupport-4.2.7.1/lib/active_support/hash_with_indifferent_access.rb:261 :in `convert_key`
[GEM_ROOT]/gems/activesupport-4.2.7.1/lib/active_support/hash_with_indifferent_access.rb:135 :in

[2016-12-31 11:50] crysper opened #104 "How can I do exact phrase match?"
I like this gem, but like pg_search, I'm not able to do an exact search of 2 words. For example if I have in a field "marketing guy" and another "marketing person" and I search for "something | marketing person" i want to show only he field containing "marketing person" not both that contain "marketing" word.

How can I achieve that?

[2017-02-05 17:11] MiroBabic opened #105 "how to speed up search on large text columns?"
I need to do full-text search on large text columns. Even I have gin indexes on them (and standard indexes on other searchable columns) search in table with 21k rows takes 5-6 seconds if I enable search on 2 big columns.
Is there any way how to speed this up?

[2017-02-08 19:47] gregmolnar commented on #105
That shouldn't be that slow in my experiences. How big are those tables?

[2017-02-08 20:37] MiroBabic commented on #105
Table size with all indexes has about 200MB, 21k rows. When I removed from search 2 columns with large text, search is pretty fast for other string values. In those 2 columns length of text is up to 20k characters

[2017-02-24 22:39] darrennix opened #106 "Readme instructions result in indexes that are not used by query plan"
Users have been reporting slow search times on our production app, so I dug into the queries and they were right... we were seeing 3000ms + query times on a sub-1M record table... signs of a sequence scan.

I had followed the basic setup instructions:
[code]

The index works fine on basic_search queries
[code]

[code]

However, the fuzzy_search does not use the index resulting in a 400ms query:

[

[2017-02-25 21:21] #106 closed

[2017-05-17 21:14] MiroBabic commented on #88
I would also like to use that rank value in further process. Is it possible to name rank value just with some static name like "textacular-rank" ?
thanks

[2017-05-21 14:11] jamesstonehill opened #112 "textacular 4.0.1 doesn't support activerecord 5.1.1"
I'm running rails `'~> 5.1.1'` and it seems like the latest version of textacular (4.0.1) doesn't support the last version of activerecord.

[code]

[2017-05-22 14:09] gregmolnar commented on #112
I will create a new release soon.

[2017-06-10 19:52] ShayDavidson commented on #112
Any news on this? Blocked by the same issue.

[2017-06-12 12:05] #112 closed

[2017-06-12 12:10] gregmolnar commented on #112
I managed to cut a new release, thanks for the patience!

[2017-06-15 16:49] andyrue opened #115 "JSONB columns"
Does this work with nested JSONB columns in Postgres?

[2017-06-19 20:22] gregmolnar commented on #115
I haven't tried it, but if it is possible to do full-text search with those in Postgres, then it should work.

[2017-07-12 14:37] #115 closed

[2017-07-21 03:11] echan00 opened #116 "Migration Error"
For those who are having problems with the migration (see error below), you need to remove [5.0] from

`class InstallTrigram < ActiveRecord::Migration[5.0]`

[code]

[2017-08-19 21:00] welkie commented on #31
Just came here to comment on this issue. I actually chose this gem over pg_search today as my first time playing with Postgres text search in Rails because of how simple it is. I like the convention... just look for all string columns and do a text search against each of them. But I do empathize with your needs here. May I offer a workaround?

1) Add a string column for every non-string column you

[2017-08-19 21:07] welkie opened #117 ""count" method not working results from searches"
I noticed that when doing a basic search, I get back a ```ModelName::ActiveRecord_Relation``` object:

[code]

And this is the same object type returned by a regular ActiveRecord method call:

[code]

I can call ```count``` on the results of the ```all``` method:

[code]

But doing so on the results of the ```basic_search``` method doesn't work. It complains about a syntax error:

[code]

Though o

[2017-08-23 17:33] gregmolnar commented on #117
The difference between `count` and `length` is the later counts the number of items in the resulting collection whereas `count` performs a count query in the database and it looks like the way the query is generated results in a SQL error. I will check whether we can fix it or not when I get some time.

[2017-08-24 00:33] welkie commented on #117
That makes sense. I'll try to look into the SQL error myself soon too.

[2017-09-26 23:27] akrisanov commented on #90
I got the same problem when define such enum:

[code]

[2017-11-13 19:43] goingdotin opened #119 "Gin index is not working with simple dictionaries"
I can't get GIN index working with advanced_search (and basic_search) using simple dictionary, but english dictionary works just fine.

Rails version: 4.2.8
Postgres version: 9.6.5

Code:
[code]
[code]
[code]

English dictionary works just fine
[code]
Same query
[code]
Would appreciate any suggestions,
Thank you!

[2017-11-13 19:49] #119 closed

[2017-11-13 19:52] goingdotin commented on #119
Resolved, the issue was forgetting to specify the language in user model
[code]

[2017-12-10 06:27] adeeb1 commented on #117
Any updates on this? I just upgraded to Rails 5.1.4, and I'm unable to display pagination with [kaminari](https://github.com/kaminari/kaminari) because one of its helpers uses the `count` method. I know the issue is not Kaminari because I receive an error message similar to this without any pagination.

[code]

The code above returns the following:

[code]

[2017-12-10 18:31] gregmolnar commented on #117
@adeeb1 I will have a look on this issue in the coming days.

[2018-01-21 05:27] rapcal commented on #72
I know this one is old and already closed, but if anyone stumbles upon this issue, altering text search configuration as suggested by @benhamill works like a charm. A Rails migration to perform unaccented searches in the german language, for instance, would look something like this:

[code]

[2018-02-01 11:14] davidwessman opened #120 "Deprecation warning in Rails 5.2"
When trying out the Rails 5.2 rc1 I found a deprecation warning regarding `Dangerous query methods`.
[code]

The issue comes from the `assemble_query` method found [here](https://github.com/textacular/textacular/blob/master/lib/textacular.rb#L128).

With some guidance on how to handle the random column name I could try to patch it.
Perhaps we can use the `Arel.sql()`-wrapping suggestion? I am howe

[2018-02-06 14:59] cblackburn-ajla commented on #120
I am also seeing this warning and interested in a solution.  Regarding impact, I assume it will be negligible from a performance perspective.  Knowing that it will be `disallowed` in Rails 6 provides some extra motivation.  @davidwessman, if you want to take a stab at it I'll wait for your patch. If not, please ping me here and I'll give it a shot.

[2018-02-06 15:26] davidwessman commented on #120
@cblackburn-ajla
I just played around with using `Arel.sql()` and managed to remove some deprecations, but please go ahead

[2018-02-14 21:17] aaronchi commented on #117
I'm also having this issue

[2018-02-14 21:18] gregmolnar commented on #117
I know this issue is open for quite a while, but I am buried in tasks unfortunately. I will try to find some time to release a fix soon.

[2018-02-25 17:09] davidwessman commented on #120
@cblackburn-ajla Please checkout my PR :) #121

[2018-02-26 13:49] #120 closed

[2018-03-27 13:05] pawurb commented on #39
I came up with this solution for Ruby on Rails:
[code]

[2018-04-25 16:48] joemsak commented on #87
Confirmed same problem in production, suggested patch works

[2018-05-01 00:49] bradrobertson commented on #39
@pawurb where did you put this code? It seems to fail in an initializer

[2018-05-01 08:41] pawurb commented on #39
In initializer. The problem is that it does not work on initial DB setup and CI systems because PG extension is not yet loaded so `set_limit` method is missing. You need to handle it by setting some ENV variables.

Let me know if the problem persists and send me the bug trace and maybe I can help.

[2018-06-06 12:34] pawurb commented on #39
@bradrobertson looks like an issue with bootsnap not loading dependencies before the initialize file is executed. Maybe try to require active_record before? I've never used it so far so I cannot help in that matter.

[2018-06-06 12:46] bradrobertson commented on #39
I actually ended up wrapping it in a
[code]
block and that worked. thanks!

[2018-08-25 12:08] towilliamchan opened #123 "Migration failed - SQL Syntax Error - "CREATE EXTENSION""
After running the command `rake db:migrate`, I get the below syntax error

This is the migration file
[code]

[2018-08-25 19:55] gregmolnar commented on #123
textacular only works with postgresql.

[2018-08-25 19:55] #123 closed

[2018-08-25 19:57] #116 closed

[2018-09-03 19:40] Shpigford commented on #117
Also having this issue.

[2018-09-03 19:49] Shpigford opened #124 "Disable ranking?"
Is it possible to disable ranking of results?

I have the following ActiveRecord query:

    Artist.basic_search(genres: 'southern rock').left_joins(:follows).group(:id).order('COUNT(follows.artist_id) DESC').limit(10)

And the SQL output of that is...

[code]

Unfortunately, it's ordering first by `rank41973923120014518` instead of by `COUNT(follows.artist_id)`.

So, is there some way to have the

[2018-09-04 12:08] gregmolnar commented on #124
I don't think there is a way to achieve that at the moment, but I can imagine that as a feature. I am quite short on time these days, but I will try have a look at implementing that shortly.

[2018-09-05 05:12] gregmolnar commented on #117
@Shpigford You can do something like:

[code]

@adeeb1 This is an old issue, so maybe kaminari has changed since, but I looked at it know and it uses `count(:all)` which drops the custom select from textacular and that prevents the syntax error. So all should be fine. Let me know if it is still broken for you

[2018-09-05 05:12] #117 closed

[2018-09-05 05:27] gregmolnar commented on #124
@Shpigford Actually, this can do the trick:

[code]

[2018-09-05 05:27] #124 closed

[2018-09-05 19:46] jcholder-legal commented on #87
Also experiencing the same problem. @joemsak: Thanks for the patch in the meantime!

[2018-09-06 05:43] gregmolnar commented on #87
@jcholder-legal What version of activerecord do you have this issue with?

[2018-09-06 15:45] gregmolnar commented on #87
I probably misunderstand something because I can't reproduce the problem. There is even a spec to make sure `includes` is working with textacular: https://github.com/textacular/textacular/blob/master/spec/textacular/searchable_spec.rb#L187
Would one of you mind to create a failing test based on this report template? https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_reco

[2018-10-31 04:09] Santosh2167 opened #125 "One step is missing > Bundle install"
Hi There,

After writing on the gem file. Dont we have to do Bundle install? This is missing

Or
in CLI write bundle add textacular

?

[2018-12-10 23:32] adeeb1 commented on #117
@jgujgu I've been making two queries: one for the IDs of the records, and one for the records. That way, the `count` will work:

[code]

If you need the results to be ordered, you can use PostgreSQL's [`array_position`](https://www.postgresql.org/docs/9.5/functions-array.html#ARRAY-FUNCTIONS-TABLE) to preserve the order efficiently:

[code]

That's the workaround I've been using.

[2019-04-02 21:35] zbuttram opened #126 "Rails 6 Support"
Was attempting to try out the latest beta since 6 should be releasing soon, but it looks like the Gemfile requires ActiveRecord >=5, <6 right now. Doesn't look like there have been any breaking changes to ActiveRecord at least as far as I can tell. Is there a decent way of getting a version that will allow ActiveRecord 6 so I can test?

Going to fork and try having bundler pull from git, but I'm n

[2019-04-03 07:25] #126 closed

[2019-04-03 07:25] gregmolnar commented on #126
I changed the dependency requirement and now you can use master to test with Active Record 6:
[code]

I will release a new version when Rails 6 is released.

[2019-04-09 08:33] simi commented on #88
see the reason in original commit introducing this https://github.com/textacular/textacular/commit/2d5fc5c19e3ee4e106f5b8f1f4f47018556c2274

[2019-04-10 11:36] #87 closed

[2019-04-10 11:38] gregmolnar commented on #88
Thanks to @simi now you can use a custom name for the rank score and access it by that.

[2019-04-10 11:38] #88 closed

[2019-08-20 07:31] eshnil opened #129 "Support ActiveRecord 6.0.0"
[code]

[2019-08-20 10:06] gregmolnar commented on #129
Fixed in https://github.com/textacular/textacular/pull/130

[2019-08-20 10:06] #129 closed

[2019-10-10 16:23] stevehill1981 opened #131 "Create Trigram Migration appends [5.0] even on older Rails"
I'm running Rails 4.2.11.1 (I know, I know). I just installed version 4.0.1 and ran `rake textacular:create_trigram_migration`. This was the output.

[code]

Expected output should not contain the `[5.0]`, that was added in Rails 5.0. I appreciate I might be using an unsupported version of the gem now. Not a problem, since I can fix by manually editing the migration for now.

[2019-11-19 18:31] collimarco opened #132 "Search across multiple columns not working"
I have this model:

[code]

These commands return the correct results:

[code]

However this does not work:

[code]

This is completely unexpected behavior and it is probably a bug.

[2020-02-24 02:41] raguila8 opened #134 "How to search distinct results"
I have several models I want to search through. I created the following database view:

[code]
I currently have this for my search model:

[code]
This would work fine without pagination. The problem is that this returns a different number of results based on how many records the `uniq` filter removes after the pagination for each page. It might also repeat results if a hit occurs for multiple page

[2020-03-01 18:54] simi commented on #134
I'm not sure how this is related to this gem, anyway you need to enforce uniqueness on DB level, not on returned array of objects (map+uniq). In your case probably you should do the search on "Searchable" model, join on "Search" and filter on top of that returning only distinct values.

[2020-03-01 19:32] simi commented on #132
This is actually expected now since search query is done per column (not in all columns merged). If you would like to search across all columns, you need somehow join them together and search on that join.

For example I have created view using `concat_ws` to join searchable columns together with whitespace and I'm using it for search:

[code]

I have no idea about performance here, maybe it will

[2020-03-01 19:35] simi commented on #131
Rails 5.0 is currently the lowest supported version in master. I think it is ok as is.

[2020-03-01 19:36] simi commented on #105
I think there's nothing that can be done in library. Thanks for sharing your solution @MiroBabic. Can be this issue closed now?

[2020-03-01 19:37] simi commented on #104
now you can use `web_search` and quoted term

[2020-03-01 19:39] simi commented on #103
Seems not related to textacular actually. I can't find any way how to reproduce this.

[2020-03-01 19:40] simi commented on #92
:thinking: Would better README with example on relation search fix this?

[2020-03-01 19:43] simi commented on #90
I think we can make this (adding methods to model) configurable and also introduce non-invasive wrapper like `Textacular(MyModel).basic_search('ABC')`. WDYT?

[2020-03-01 19:47] simi commented on #86
`select` works on master, but `pluck` is still broken

[code]

[2020-03-01 19:48] simi commented on #81
I think release was already done. Time to close this?

[2020-03-01 19:53] simi commented on #39
@bradrobertson would you mind to contribute this to `README.md`?

[2020-03-01 19:57] simi commented on #31
@mattwelke also now you can use generated column for this on DB level.

Anyway we can mention in README that textacular works only for string columns and if you would like to search on different type, you need to type it to string first (for example with VIEW) or use different solution.

[2020-03-01 20:21] #105 closed

[2020-03-02 10:27] stevehill1981 commented on #131
Thanks, @simi. I appreciate the amount of effort involved in supporting outdated versions of Rails. I'll close this.

[2020-03-02 10:27] #131 closed

[2020-03-06 10:12] #81 closed

[2020-03-18 23:50] #134 closed

[2020-05-30 08:09] tomcardoso opened #135 "Web search missing as instance method from 5.2.0 gem"
Hi there,

I'm hoping to use the web_search functionality, but it's not available as an instance method of Textacular right now. I think it hasn't been released yet — would you consider cutting a new release (5.3.0?) so that I can use that new method?

Thanks!

[2020-06-19 21:33] tomcardoso opened #137 "Unable to distinct on a multi-table search"
Hi there, I'm running into an issue where I'm unable to dedupe my results after using `web_search` on a model and its relations. Here's what I'm doing:

[code]

So far so good. Except, this returns four results (since I have matches in both the parent Case model and its relation CaseEvent), which becomes two results after the `distinct`:

[code]

As you can see, they both have the same `id`, 592,

[2020-07-02 16:50] tomcardoso commented on #137
Hi, just wanted to follow up… @gregmolnar @simi any thoughts on this? I tried a bunch of approaches but I don't have much experience with ActiveRecord (or Postgres, for that matter), so I've struck out so far.

[2020-07-02 17:04] simi commented on #137
Is this problem for other searches as well, right? It is not related to web search only.

All you wrote makes sense actual, you need to de-duplicate results. Would grouping by Case id help here?

[2020-07-02 17:56] tomcardoso commented on #137
I'm not sure, I haven't tried other searches… but I keep running into that syntax error whenever I try to run any kind of select or group command. Could you send me an example of what you'd do? I'll test it out and report back here.

[2020-07-03 04:51] gregmolnar commented on #137
@tomcardoso you can't use `.select("DISTINCT ON (id) *")` with textacular, because that messes up the generating SQL query. Unless your dataset will be huge, using `uniq` would be the simplest resolution. When I get some free time I will look into why `distinct` doesn't work as expected.

[2020-07-03 17:52] tomcardoso commented on #137
@gregmolnar Thanks. My results could be in the tens of thousands easily, if not more (my database grows by between 2,000-10,000 entries a day). I'm also using `web_search` as part of a chain of filters and whatnot which gets passed to gems like `will-paginate`, so I want to make sure to keep it in ActiveRecord if at all possible.

[2020-07-03 18:49] gregmolnar commented on #137
I will have a look at a proper fix it in the coming days.

[2020-07-07 19:50] gregmolnar commented on #137
@tomcardoso I tried to reproduce this and wrote a spec here: https://github.com/textacular/textacular/commit/e7f7da5daa5ce73ce340ed093afb58d850a40f55
But it passes, so I probably miss something. Can you help me to cover the case you are having?

[2020-07-07 23:02] tomcardoso commented on #137
@gregmolnar Thanks, took me a minute to figure out what was going on… try doing this instead:
[code]

I'm using the `false` there to allow me to search for hits on either result (I want to be able to search both the WebComic and Character and return results for either). If you do that and add a distinct, it will return 2 instead of 1.

[2020-07-08 07:59] gregmolnar commented on #137
Ah, I missed that part. If you do that, an OR condition is used and since we return the rank as well, which will have a unique alias for both, distinct can't return a unique row, since the alias is different.
To get around this you can do something like this:

[code]

Let me know if that still doesn't work.

[2020-07-08 07:59] #137 closed

[2020-07-08 14:09] tomcardoso commented on #137
Thanks @gregmolnar. But with this, I'd lose the rank-based sorting, right? Is there any way to retain that? I realize some entries would have two rankings – I think it'd make sense to pick the entry with the higher rank value and drop the other(s).

[2020-07-08 14:18] tomcardoso commented on #137
(I did test your code out, and it works! But I assume that I'd lose the rank-based sorting.)

[2020-07-08 19:29] gregmolnar commented on #137
@tomcardoso indeed, you would lose the ranking based sorting.

I don't know any solutions from the top of my head, but I will think about it.

[2020-07-08 19:37] tomcardoso commented on #137
Thanks. I tried something dumb like:
[code]

But that didn't work:
[code]

[2020-07-09 06:23] gregmolnar commented on #137
There is a unique alias generated for the ranking, so you can't do it like that. And the column you use with distinct on has to be the first column you order on, so even if you would use the correct alias, it would fail with another error.

[2020-07-10 13:51] tomcardoso commented on #137
Perhaps for cases like this, we almost need a special Textacular version of `distinct` or something similar…

[2020-07-10 19:33] simi commented on #137
I think the query you're looking for is this:

[code]

^ group by ID and order by max is the key to get deduplicated result set.

I'm not sure how to get this query out of Textacular directly. This hacky version was enough for me, but I think this deservers much better API if we would like to make it into master. This is just POC:

[code]

[2020-07-10 19:39] simi commented on #137
Looking again at this, for those advanced cases Textacular can just provide related SQL fragments and let user to use it as needed. Any ideas for API around this?

[2020-07-13 20:15] tomcardoso commented on #137
Huh! This is all well beyond my comprehension, but if it works, great. I'm happy to test this on our data when there's an interest in incorporating this into the Textacular API generally. Could it be as simple as adding an extra param telling Textacular whether to assemble the final query?

[2020-12-07 19:08] tomcardoso commented on #137
@simi and @gregmolnar, one more question if you don't mind. Your code has worked great, but it's unfortunately broken the `.size` function for me since it's now returning the size of each case's case_events. For instance, using the `order` and `conditions` code and then doing this:
[code]
Returns a hash like so:
[code]
Where each key is the case ID and each value is the number of case events – but

[2020-12-07 19:16] tomcardoso commented on #137
Oh – is the answer to just use the results of that query to build a new, final one, like so?
[code]

[2020-12-10 11:17] jansi-z opened #139 "Support Rails 6.1"
I believe this should be pretty straightforward, I couldn't find any breaking changes in the ActiveRecord changelog. I'll open a PR.

Disclaimer: it's my first time contributing to an open source project, let me know if I'm doing something wrong!

[2020-12-16 06:36] tomcardoso opened #140 "Indexing on web_search?"
I'm a bit confused as to how I can set up indexing on web search, especially if I want to use the approach we talked about in https://github.com/textacular/textacular/issues/137. To recap, what I'm doing is:
[code]

Which searches a number of fields for a certain keyword and returns all results that match in any of those fields.

But I'm finding the search to be very slow for my database (~1.8m ca

[2020-12-18 01:49] tomcardoso commented on #140
That didn't work, so I've tried doing something like this instead:
[code]
But the search is still very, very slow (taking 40 seconds or longer). I've done some profiling and it's all down to the bottleneck created by the special two-table, four-column query I mentioned in my previous message. Here's an example query that lasts at least 10 seconds:
[code]
Now that I have the fields I'm searching in

[2020-12-21 10:07] abo-elleef opened #141 "Support for rails 6.1"

[2020-12-31 09:46] Migoo commented on #141
Hello,

I see that it's done on the master branch. Do you plan a new release ?

[2020-12-31 12:04] gregmolnar commented on #141
I released a new version just now

[2020-12-31 12:04] #141 closed

[2021-08-30 09:57] schmijos commented on #86
Trying to add a note to the README: https://github.com/textacular/textacular/pull/145

[2021-11-14 00:47] simi commented on #140
@tomcardoso for some reason if you join and lookup into two tables GIN indexes are not used. I have managed it is possible to check for matching JOINed table in CTE and just pass ids to final query. You need to use `ANY(ARRAY(...` method to keep indexes being used. Here is example fast query.

[code]